# Environment variables
.env

# Logs
logs/
*.log

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.nox/
.eggs/
*.egg-info/
dist/
build/

# Django
*.sqlite3
db.sqlite3
*.log

# Other
.DS_Store
.idea/
.vscode/
